* {
  box-sizing: border-box;
  font-family: 'Encode Sans Expanded', sans-serif;
}

main {
  padding-top: 100px;
  font-weight: bolder;
  text-shadow: 1px 0 black;
}

header,
form {
  text-align: center;
}

.logo {
  font-size: 50px;
}

.search-query {
  font-size: 20px;
  border-radius: 5px;
}

.submit-button {
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: white;
}

.js-weather-results {
  text-align: center;
  margin-top: 20px;
}

.js-navigation-tabs {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}


.weather-gif {
  width: 100px;
  height: auto;
  margin: 0;
}

.options {
    background-color: #333;
    overflow: hidden;
    margin-bottom: 20px;
}

.options a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.options a:hover {
    background-color: #ddd;
    color: black;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url(https://wallpaperclicker.com/storage/wallpaper/animated-red-sky-sunset-wallpaper-74826976.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.title,
.caption {
  color: white;
  text-shadow: 2px 2px black;
}

.js-start-display {
  padding-bottom: 20px;
  padding-top: 1px;
  background: rgba(255,255,255, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  left: 0;
  right: 0;
  width: 100%;
}

.weather-results {
  background: rgba(255,255,255, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: 900;
  text-shadow: 1px 0 black;
}

header p {
  font-weight: bolder;
  font-size: 20px;
  text-shadow: 1px 0 black;
}

.venue-results {
  font-weight: 900;
  text-shadow: 1px 0 black;
  background: rgba(255,255,255, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
}

.results-content {
  padding: 10px;
  overflow: hidden;
  font-size: 0.9em;
}

.venue-photo {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: cover;
  background-position: center center;
  float: left;
  height: 15em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.result-name {
  text-shadow: 1px 0 blue;
}

.js-results {
  padding-top: 20px;
  width: 100%;
}


.start-button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid black;
  background-color: white;
}

.button {
  text-align: center;
  margin-top: 70px;
}

.title {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 60px;
}

.travel-icon {
  width: 150px;
  margin-top: 5px;
  display: inline-block;
  background: rgba(255,255,255, 0.6);
  border-radius: 20px;
  padding: 2px;
}

.weather-icon {
  width: 150px;
  background: rgba(255,255,255, 0.6);
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
  padding: 2px;
}

.destination-icon {
  width: 150px;
  background: rgba(255,255,255, 0.6);
  border-radius: 20px;
  padding: 2px;
}

.travel-icon,
.weather-icon,
.destination-icon {
  padding-top: 20px;
  margin-top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.display-icons {
  text-align: center;
}

.caption {
  position: relative;
  bottom: 45px;
}

.title-page {
  position: relative;
  bottom: 40px;
}

.error {
  background: rgba(255,255,255, 0.5);
  font-size: 20px;
  text-align: center;
}



/*@-webkit-keyframes animatedBackground{
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

body {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 768px;
    z-index: 0;
    background-image: url(https://1.bp.blogspot.com/-yp5pbHNr3j8/WTfypeIPRNI/AAAAAAAAG40/L3c6ewqISHMgeAYzP12HcQevymhvkoIeACLcB/w530-h212-p-k/bg-clouds.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    min-width: 500px;

    animation: animatedBackground 60s linear infinite;
    -ms-animation: animatedBackground 60s linear infinite;
    -moz-animation: animatedBackground 60s linear infinite;
    -webkit-animation: animatedBackground 60s linear infinite;
}
*/